<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Quotes</title>
    <link
      rel="stylesheet"
      href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css"
    />
    <style>
      .record {
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        margin-bottom: 20px;
        padding: 20px;
      }
      .quote {
        font-style: italic;
        line-height: 1.6;
      }
      .author {
        font-size: 18px;
        font-weight: 700;
        margin-top: 10px;
      }
      .tags {
        font-size: 20px;
      }
    </style>
  </head>
  <body>
    <main class="container">
      <nav
        style="
          margin-bottom: 20px;
          border-bottom: 2px solid;
          padding-left: 30px;
        "
      >
        {% if user.is_authenticated %}
        <ul>
          <li>
            <a href="{% url 'quoteapp:quote' %}" role="button">Add quote</a>
          </li>
          <li>
            <a href="{% url 'quoteapp:author' %}" role="button">Add author</a>
          </li>
          <li><a href="{% url 'quoteapp:tag' %}" role="button">Add tag</a></li>
          <li>
            <a href="{% url 'quoteapp:scrape' %}" role="button"
              >Scrape Quotes</a
            >
            <script>
              document
                .getElementById("runScrapyBtn")
                .addEventListener("click", function () {
                  var xhr = new XMLHttpRequest();
                  xhr.open("POST", "/scrape/");
                  xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                  xhr.onload = function () {
                    if (xhr.status === 200) {
                      alert("Scrapy has been successfully triggered.");
                    } else {
                      alert("Error triggering Scrapy.");
                    }
                  };
                  xhr.send();
                });
            </script>
          </li>
        </ul>
        <ul>
          <li>Welcome <b>{{ user.username }}!</b></li>
          {% comment %}
          <li><a href="{% url 'users:profile' %}" role="button">Profile</a></li>
          {% endcomment %}
          <li><a href="{% url 'users:logout' %}" role="button">Logout</a></li>
        </ul>
        {% else %}
        <ul>
          <li><a href="{% url 'users:signup' %}" role="button">Sign Up</a></li>
          <li><a href="{% url 'users:login' %}" role="button">Login</a></li>
        </ul>
        {% endif %}
      </nav>
      <div class="container">
        <h1>Quotes</h1>
        {% for quote in quotes %}
        <div class="record">
          <span class="quote">{{ quote.text }}</span><br />
          <span class="author"
            >{{ quote.author.fullname }}<a
              href="{% url 'quoteapp:author_detail' quote.author.id %}"
            >
              (about)</a
            ></span
          >
          <div class="tags">
            Tags: {% for tag in quote.tags.all %}
            <span class="tag"
              ><a href="{% url 'quoteapp:quotes_by_tag' tag.id %}"
                ><small>{{ tag.name }}</small></a
              ></span
            >
            {% if not forloop.last %}| {% endif %} {% endfor %}
          </div>
        </div>
        {% endfor %}
      </div>
    </main>
  </body>
</html>
